<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FBVS : Nouvelle équipe à valider</title>
</head>
<body>
<h4>Bonjour, {{ partner.firstname }} !</h4>
<p> Une demande de création d'équipe vient de vous être envoyée par {{ user.firstname }} {{ user.lastname }}.</p>
<p>Rendez-vous sur <a href="{{ url('app_user_show', {'id': partner.id})}}">votre profil</a> pour valider cette nouvelle équipe.</p>
<p>Vous pourrez ensuite vous inscrire à des tournois avec {{ user.firstname }}.</p>
<p>A bientôt sur France Beach Volley Series !</p>
</body>
</html>