<div class="card bg-pattern shadow mb-4">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <i class="fa fa-ranking-star text-danger h4 ml-3"></i>
            <h5 class="font-size-20 mt-0 text-danger fw-bold">Classement féminin</h5>
        </div>
        <div class="ps-5">
            <p class="mb-1"><i class="fa-solid fa-medal pe-2" style="color: goldenrod"></i><span
                        class="fw-bold">1 - {{ womanPodium[0].firstname }} {{ womanPodium[0].lastname }}</span>
                ({{ womanPodium[0].point }} points)</p>
            <p class="mb-1"><i class="fa-solid fa-medal pe-2" style="color: silver"></i><span
                        class="fw-bold">2 - {{ womanPodium[1].firstname }} {{ womanPodium[1].lastname }}</span>
                ({{ womanPodium[1].point }} points)</p>
            <p class="mb-1"><i class="fa-solid fa-medal pe-2" style="color: brown"></i><span
                        class="fw-bold">3 - {{ womanPodium[2].firstname }} {{ womanPodium[2].lastname }}</span>
                ({{ womanPodium[2].point }} points)</p>
        </div>
    </div>
</div>