{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="row">
                    <div class="col">
                        <div class="alert alert-{{ category }} w-25">
                            <i class="fa-solid fa-circle-check pe-2"></i>
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row">
            <div class="col">
                <h1 class="fs-3 mb-4">Classement national</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-6">
                {% include 'result/cards/womanPodium.html.twig' %}
            </div>
            <div class="col-xl-6 col-md-6">
                {% include 'result/cards/manPodium.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6">
                {% include 'result/cards/filter.html.twig' %}
            </div>
            <div class="col-xl-6 col-md-6">
                {% include 'result/cards/search.html.twig' %}
            </div>
            <div class="col-xl-2 col-md-6">
                <div class="d-flex justify-content-center w-100 py-4 my-2">
                    <a href="/classement"><button class="btn btn-outline-secondary"><i class="fa-solid fa-rotate-right me-2"></i>Réinitialiser</button></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="table-responsive project-list">
                            <table class="table project-table table-centered table-nowrap table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Place</th>
                                    <th scope="col">Joueur</th>
                                    <th scope="col">Club</th>
                                    <th scope="col">Points</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set rank = (players.getCurrentPageNumber() - 1) * players.getItemNumberPerPage() + 1 %}
                                {% for player in players %}
                                    <tr>
                                        <td>{{ rank }}</td>
                                        <td class="text-muted">{{ player.firstname }} {{ player.lastname }}</td>
                                        <td>{{ player.club.name }}</td>
                                        <td>{{ player.point }}</td>
                                    </tr>
                                    {% set rank = rank + 1 %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="pt-3">
                            <div class="w-100 d-flex justify-content-center mb-0">
                                {{ knp_pagination_render(players) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

