{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="row">
                    <div class="col">
                        <div class="alert alert-{{ category }} w-25">
                            <i class="fa-solid fa-circle-check pe-2"></i>
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row">
            <div class="col">
                <div class="card mb-4">
                    <h1 class="text-primary text-center pt-3 pb-2 fs-3 fw-bold">Liste des tournois officiels</h1>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-pattern">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="font-size-20 mt-0">{{ pastTournaments }}</h5>
                            <i class="fa fa-archive text-danger h4 ml-3"></i>
                        </div>
                        <p class="text-muted mb-0">Tournois passés</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-pattern">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="font-size-20 mt-0">{{ upcomingTournaments }}</h5>
                            <i class="fa fa-th text-success h4 ml-3"></i>
                        </div>
                        <p class="text-muted mb-0">Tournois à venir</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {{ form_start(form) }}
                            <div class="form-group m-2">
                                <div class="input-group">
                                    {{ form_row(form.search, {'attr': {'class': 'form-control', 'style': 'width: 530px', 'placeholder': 'Rechercher...', 'aria-describedby': 'project-search-addon'}}) }}
                                    <div class="input-group-append mx-1">
                                        <button class="btn btn-primary" type="submit" id="project-search-addon"><i
                                                    class="fa fa-search search-icon font-12"></i></button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive project-list">
                            <table class="table project-table table-centered table-nowrap table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Nom du tournoi</th>
                                    <th scope="col">Catégorie</th>
                                    <th scope="col">Lieu</th>
                                    <th scope="col">Statut</th>
                                    <th scope="col">Détails</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for tournament in tournaments %}
                                    <tr>
                                        <td class="text-muted">{{ tournament.tournamentDate ? tournament.tournamentDate|date('d-m-Y') : '' }}</td>
                                        <td>
                                            <a href="{{ path("app_tournament_show", { id: tournament.id }) }}" class="text-decoration-none link-primary fw-bold">
                                                {{ tournament.name }}
                                            </a>
                                        </td>
                                        <td>{{ tournament.category }}</td>
                                        <td>{{ tournament.location }} </td>
                                        <td>
                                            {% if tournament.tournamentDate < now %}
                                                <span class="badge text-bg-danger">Passé</span>
                                            {% else %}
                                                <span class="badge text-bg-success">A venir</span>
                                            {% endif %}

                                        </td>

                                        <td>
                                            <div class="action d-flex">
                                                <a href="{{ path('app_tournament_register', { id: tournament.id }) }}" class="text-primary mt-2 mx-1 icon-link icon-link-hover"> <i
                                                            class="fa fa-arrow-right-from-bracket h5 m-0"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">
                                            <p class="text-muted mt-3">Aucun tournoi n'a été référencé pour le
                                                moment.</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="pt-3">
                            <ul class="pagination justify-content-end mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
