{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="row">
                    <div class="col">
                        <div class="alert alert-{{ category }} w-25">
                            <i class="fa-solid fa-circle-check pe-2"></i>
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row">
            <div class="col">
                <h1 class="fs-3 mb-4">Tournois officiels</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="font-size-20 mt-0">{{ pastTournaments }}</h5>
                            <i class="fa fa-archive text-danger h4 ml-3"></i>
                        </div>
                        <p class="text-muted mb-0">Tournois passés</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="font-size-20 mt-0">{{ upcomingTournaments }}</h5>
                            <i class="fa fa-th text-success h4 ml-3"></i>
                        </div>
                        <p class="text-muted mb-0">Tournois à venir</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        {{ form_start(searchForm) }}
                        <div class="d-flex p-2">
                            <div class="w-100 me-2">
                                {{ form_widget(searchForm.search, {'attr': {'placeholder': 'Rechercher...'}}) }}
                            </div>
                            <button class="btn btn-primary" type="submit"><i
                                        class="fa fa-search"></i></button>
                        </div>
                        {{ form_end(searchForm) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="table-responsive project-list">
                            <table class="table project-table table-centered table-nowrap table-hover table-responsive">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Nom du tournoi</th>
                                    <th scope="col">Catégorie</th>
                                    <th scope="col">Lieu</th>
                                    <th scope="col">Statut</th>
                                    <th scope="col">Inscription</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set rank = (tournaments.getCurrentPageNumber() - 1) * tournaments.getItemNumberPerPage() + 1 %}
                                {% for tournament in tournaments %}
                                    <tr>
                                        <td>{{ rank }}</td>
                                        <td class="text-muted">{{ tournament.tournamentDate ? tournament.tournamentDate|date('d-m-Y') : '' }}</td>
                                        <td>
                                            <a href="{{ path("app_tournament_show", { id: tournament.id }) }}"
                                               class="text-decoration-none link-primary fw-bold">
                                                {{ tournament.name }}
                                            </a>
                                        </td>
                                        <td>{{ tournament.category }}</td>
                                        <td>{{ tournament.location }} </td>
                                        <td>
                                            {% if tournament.tournamentDate < now %}
                                                <span class="badge text-bg-danger">Passé</span>
                                            {% else %}
                                                <span class="badge text-bg-success">A venir</span>
                                            {% endif %}
                                        </td>

                                        <td>
                                            <div class="action d-flex">
                                                <a href="{{ path('app_tournament_show', { id: tournament.id }) }}"
                                                   class="text-primary mt-2 mx-1 icon-link icon-link-hover"> <i
                                                            class="fa fa-arrow-right-from-bracket h5 m-0"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% set rank = rank + 1 %}
                                {% else %}
                                    <tr>
                                        <td colspan="6">
                                            <p class="text-muted mt-3">Aucun tournoi n'a été référencé pour le
                                                moment.</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="pt-3">
                            <div class="w-100 d-flex justify-content-center mb-0">
                                {{ knp_pagination_render(tournaments) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
