{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="d-flex w-100 justify-content-center">
                    <div class="alert alert-{{ category }} w-25">
                        <i class="fa-solid fa-triangle-exclamation pe-2"></i>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        <h1 class="mb-3">S'inscrire au tournoi</h1>
        <p class="fw-bold">Sélectionnez l'équipe avec laquelle vous souhaitez vous inscrire :</p>
        <div class="w-50">
            {{ form_start(form) }}
            {{ form_widget(form.teams) }}
            <button class="btn btn-primary my-3">{{ button_label|default('Confirmer') }}</button>
            {{ form_end(form) }}
        </div>
        <p class="small fw-bold">Si vous n'avez pas d'équipe, vous pouvez en créer une <a
                    href="{{ path('app_team_new') }}">ici</a> ou réactiver une ancienne équipe sur votre
            profil.</p>
    </div>



{% endblock %}