<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FBVS : Nouveau message</title>
</head>
<body>
<h4>Vous avez reçu un nouveau message sur France Beach-Volley Series</h4>
<p class="fw-bold">Veuillez répondre à ce message directement à l'adresse email indiquée ci-dessous.</p>
<hr>
<p>Prénom : {{ formData.firstname }}</p>
<p>Nom : {{ formData.lastname }}</p>
<p>Adresse email : {{ formData.email }}</p>
<p>Sujet : {{ formData.topic }}</p>
<p>Contenu du message : {{ formData.content }}</p>
</body>
</html>