{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        {# <div class="row">
            <div class="col">
                <h1 class="fs-3 mb-4">Les actualités beach-volley en France</h1>
            </div>
        </div> #}
        <div class="row">
            <div class="col-md-9">
                <div class="card p-3 shadow" style="border: none">
                    <h1 class="fs-2 mx-auto mt-4 mb-5">{{ article.title }}</h1>
                    <img src="{{ vich_uploader_asset(article) }}" class="card-img-top" alt="..."
                         style="height: 700px; object-fit: cover; object-position: center;">
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-end mt-2 mb-3"><small class="text-body-secondary">Publié
                                le {{ article.createdAt ? article.createdAt|date('d-m-Y') : '' }}</small></p>
                        <h4 class="card-title">{{ article.subtitle }}</h4>
                        <p class="card-text">
                            {{ article.content|striptags }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ms-2" style="margin-top: 130px;">
                    <h4 class="ps-3 pb-2">Vous aimerez aussi...</h4>
                    <ul class="list-group list-group-flush">
                        <a href="{{ path("article_show", { id: latestArticles[0].id }) }}"
                           class="list-group-item list-group-item-action pt-3 bg-transparent">
                            <p class="mb-1"><i class="fas fa-volleyball pe-1"></i>
                                {{ latestArticles[0].title }}</p>
                            <p class="mb-0"><small class="text-body-secondary">Publié
                                    le {{ latestArticles[0].createdAt ? latestArticles[0].createdAt|date('d-m-Y') : '' }}</small>
                            </p>
                        </a>
                        <a href="{{ path("article_show", { id: latestArticles[1].id }) }}"
                           class="list-group-item list-group-item-action pt-3 bg-transparent">
                            <p class="mb-1"><i class="fas fa-volleyball pe-1"></i>
                                {{ latestArticles[1].title }}</p>
                            <p class="mb-0"><small class="text-body-secondary">Publié
                                    le {{ latestArticles[1].createdAt ? latestArticles[1].createdAt|date('d-m-Y') : '' }}</small>
                            </p>
                        </a>
                        <a href="{{ path("article_show", { id: latestArticles[2].id }) }}"
                           class="list-group-item list-group-item-action pt-3 bg-transparent">
                            <p class="mb-1"><i class="fas fa-volleyball pe-1"></i>
                                {{ latestArticles[2].title }}</p>
                            <p class="mb-0"><small class="text-body-secondary">Publié
                                    le {{ latestArticles[2].createdAt ? latestArticles[2].createdAt|date('d-m-Y') : '' }}</small>
                            </p>
                        </a>
                    </ul>
                    <div class="list-group-item d-flex justify-content-end bg-transparent p-3 mt-3">
                        <a href="{{ path("app_index") }}"><i class="fas fa-right-from-bracket pe-1"></i>Retour à la
                            liste</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}